<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h2 class="text-center">{{list.title}}</h2>
            <p class="text-center text-muted">
                <small>Created&nbsp;on&nbsp;{{list.created_formatted}}</small>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form class="form" action="{{list.url}}/items" method="POST">
            <div class="input-group">
                <input class="form-control" type="text" name="item[title]" placeholder="New item...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Add item</button>
                </span>
            </div>
        </form>
    </div>
</div>

{{#if list.items}}
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
        <ul class="list-group items-list" id="items-list-id">
            {{#each list.items as |item|}}
            <li class="list-group-item">
                {{item.title}}
                <form class="close-form" action="{{../list.url}}/items/{{item.id}}?_method=DELETE" method="POST">
                    <button type="submit" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </form>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
{{/if}}