<div>
    <div>
        <h1 style="display:inline;">{{list.title}}</h1>
        <a href="{{list.url}}/edit">Edit</a>
        <form action="{{list.url}}?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    <div>
    <p>Created on {{list.created_formatted}}</p>
</div>
<a href="/lists">Return to all lists</a>

<hr>

<div><a href="{{list.url}}/items/new">Add Item</a></div>

<div>
    {{#each list.items as |item|}}
        <li>
            {{item.title}}
            <a href="{{../list.url}}/items/{{item._id}}/edit">Edit item</a>
            <form action="{{../list.url}}/items/{{item._id}}?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
        </li>
    {{/each}}
</div>