<div>
    <div>
        <h1 style="display:inline;">{{list.title}}</h1>
    <div>
    <p>Created on {{list.created_formatted}}</p>
</div>
<a href="{{list.url}}">Cancel</a>

<hr>

<form action="{{list.url}}/items" method="POST">
    <input type="text" name="item[title]" placeholder="New item">
    <button>Add item</button>
</form>

{{#each list.items as |item|}}
    <li>{{item.title}}</li>
{{/each}}